body * {
  font-family: sans-serif;
}
*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.anim-carousel {
  position: relative;
  background: linear-gradient(to bottom, darkblue 60%, blue);
  background-repeat: no-repeat;
  transition: background 2s ease-in;
  overflow: hidden;
}
.anim-carousel__content {
  height: 100vh;
  transition: background 1s;
  position: relative;
}
.scene-container {
  max-width: 1800px;
  width: 100%;
  margin: auto;
}


/* HEADER */
.header__inner {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}
.header-menu__icon-item {
  background-color: #fff;
  width: 30px;
  height: 5px;
  border-radius: 3px;
  border: none;
  display: block;
  margin: 3px 0px;
}
.header__logo {
  text-transform: uppercase;
  color: #fff;
  font-size: 42px;
  letter-spacing: -3px;
}
.user-profile__icon {
  width: 30px;
  height: 30px;
}


/* SCENE */
.scene__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 72px;
  letter-spacing: -3px;
  word-spacing: 99999px;

  position: absolute;
  display: block;
  margin-top: 150px;
  padding: 0px 30px;
  transform: translate3d(0px, 0px, 0px) scale(1);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: .2s;
  transition-timing-function: ease-in-out; 
  transition-delay: 1s;
}
.scene__title::after {
  content: '';
  width: 100%;
  height: 3px;
  border-radius: 3px;
  border: none;
  display: block;
  margin-top: 30px;
  background-color: rgb(255, 80, 80);
}

/* carousel */
.scene {
  height: 100%; }
.scene-wrapper {
  height: 100%; }
.scene-carousel {
  height: 100%; }
.scene-carousel__wrapper {
  margin-top: 30px;
  height: 100%;
}
.scene-hero {
  --scene-slide-image-height: 300px;
  --hero-description-width: 40vw;

  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  left: 0;
  transition-duration: var(--slide-offset-duration);
  transition-property: transform, width, left; 
}
.scene-hero.swiper-slide-prev {
  z-index: 3;
}
.scene-hero.swiper-slide-active{
  z-index: 2;
  justify-content: space-between;
}
.scene-hero.swiper-slide-next {
  z-index: 1;
}
.scene-hero .scene-hero__image {
  height: var(--scene-slide-image-height);
  user-select: none;
  cursor: pointer;
  filter: blur(0px);
  opacity: 1;
  transition-property: transform, filer, opacity;
  transition-duration: 3s;
  transition-delay: var(--slide-image-trans-delay);
}

.hero-description {
  text-align: left;
  display: none;
  opacity: 0;
  width: var(--hero-description-width);
  color: #fff;
  
}
.hero-description * {
  user-select: none;
}
.hero-description__title {
  text-transform: uppercase;
  width: var(--hero-description-width);
}
.hero-description__title::before {
  content: '';
  width: 100%;
  height: 3px;
  background-color: rgb(255, 80, 80);
  border-radius: 3px;
  border: none;
  margin-bottom: 15px;
  display: block;
}
.hero-description__name {
  text-transform: uppercase;
  display: table-caption;
  font-weight: bold;
  font-size: 52px;
  margin-top: 30px;
}
.hero-description__content {
  border-top: 1px #fff solid;
  border-bottom: 1px #fff solid;
  margin: 20px 0px;
  padding: 15px 0px;
}
.hero-desc__table-title {
  font-weight: lighter;
  font-size: large;
  letter-spacing: 4px;
  margin-top: 10px;
}
.hero-desc__table {
  width: 35vw;
  font-size: larger;
}
.hero-desc__table-row-name {
  width: 30%;
  padding: 10px 0px;
  vertical-align: top;
  opacity: .5;
}
.hero-desc__table-row-text {
  opacity: .7;
}
.hero-description__additions-title {
  margin: 20px 0px;
  text-transform: uppercase;
}
.hero-description__additions-list {
  display: flex;
}
.hero-description__additions-list-item {
  margin-right: 10px;
  height: 150px;
  border-radius: 10px;
  border: none;
}

.scene-exit {
  color: #fff;
  font-size: 50px;
  font-family: fantasy;
  position: absolute;
  right: 5vw;
  top: 50px;
  z-index: 5;
  cursor: pointer;
  display: none;
}


/* Navigation menu */
.scene-nav {
  width: 50%;
  position: absolute;
  bottom: 0;
  z-index: 5;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale(1);

  transition-property: transform, opacity;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transition-delay: 1s;
}
.scene-nav__wrapper {
  display: flex;
  padding: 30px 50px;
}
.scene-nav__button-prev, .scene-nav__button-next {
  border: 5px #fff solid;
  border-radius: 50%;
  padding: 20px;
  display: inline-block;
  margin: 0px 10px;
}
.scene-nav__button-prev *, .scene-nav__button-next * {
  user-select: none;
}
.scene-nav__button-next {
  transform: rotate(180deg);
}
.scene-nav__button-icon {
  transform: scale(1.3);
}
.scene-nav__description {
  width: 50%;
  margin-left: 15px;
  color: #fff;
  padding: 7px 0px;
}
.scene-nav__description-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 5px;
}
.scene-nav__description-text {
  font-size: 14px;
}


/* ACTIVE SCENE STYLES */
.anim-carousel._active .scene__title {
  transform: translate3d(0px, -15%, 0px) scale(1.1);
  opacity: 0;
  transition-delay: 0s;
}
.anim-carousel._active .scene-hero .scene-hero__image {
  transform: var(--slide-image-transform);
}
.anim-carousel._active .swiper-slide-active._step-2 {
  max-width: var(--scene-active-slide-width);
  width: 100% !important;
  margin: auto;
  transition: unset;
  transform: unset;
}
.anim-carousel._active .swiper-slide-active._step-2 .hero-description._active {
  opacity: 1;
  display: block;
  animation: slideDescriptionAnimation 1s ease;
}
.anim-carousel._active .swiper-slide-prev .scene-hero__image._active,
.anim-carousel._active .swiper-slide-next .scene-hero__image._active {
  filter: blur(6px);
  opacity: .85;
}

.anim-carousel._active .scene-nav {
  transform: translate3d(0px, 15%, 0px) scale(1.1);
  opacity: 0;
  transition-delay: 0s;
}

.anim-carousel._active .scene-exit {
  display: block;
}


/* ANIMATIONS */
@keyframes slideDescriptionAnimation {
  0% {
    transform: scale(.6);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}