@media (max-width: 1440px) {
  /* HEADER */
  .header__inner {
    padding: 15px 20px;
  }
  .header__logo {
    font-size: 30px;
  }
  .user-profile__icon {
    width: 25px;
    height: 25px;
  }


  /* SCENE */
  .scene__title {
    font-size: 52px;
    margin-top: 100px;
  }
  .scene__title::after {
    margin-top: 15px;
  }

  /* carousel */
  .scene-carousel__wrapper {
    padding: 0px 0px;
  }
  .scene-hero {
    --scene-slide-image-height: 200px;  
  }
  .hero-description__name {
    font-size: 52px;
    margin-top: 20px;
  }
  .hero-description__content {
    margin: 15px 0px;
    padding: 10px 0px;
  }
  .hero-desc__table-title {
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .hero-desc__table {
    width: 40vw;
    font-size: 16px;
  }
  .hero-desc__table-row-name {
    width: 40%;
    padding: 5px 0px;
  }  
  .hero-description__additions-title {
    margin: 20px 0px;
  }
  .hero-description__additions-list-item {
    height: 100px;
  }

  /* navigation menu */
  .scene-nav__wrapper {
    padding: 20px 40px;
  }
  .scene-nav__button-prev, .scene-nav__button-next {
    padding: 10px;
  }
  .scene-nav__button-icon {
    width: 50px;
    height: 50px;
  }

}


@media (max-width: 420px) {
  .header__inner {
    padding: 10px 20px;
  }
  .header-menu__icon-item {
    width: 20px;
    height: 3px;
  }
  .header__logo {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    letter-spacing: -3px;
  }
  .user-profile__icon {
    width: 15px;
    height: 15px;
  }


  /* SCENE */
  .scene__title {
    font-size: 24px;
    margin-top: 50px;
    padding: 0px 15px;
  }
  .scene__title::after {
    height: 2px;
  }

  /* carousel */
  .scene-carousel__wrapper {
    margin-top: 15px;
  }
  .scene-hero {
    --scene-slide-image-height: 200px;
    --hero-description-width: 90vw;  
  }
  .anim-carousel._active .swiper-slide-prev .scene-hero__image,
  .anim-carousel._active .swiper-slide-next .scene-hero__image {
    left: -90px;
    position: relative;
  }
  .hero-description {
    position: absolute;
    left: 50%;
  }
  .hero-description__title {
    font-size: 14px;
  }
  .hero-description__title::before { 
    height: 2px;
    border-radius: 2px;
    margin-bottom: 5px;
  }
  .hero-description__name { 
    font-size: 22px;
    margin-top: 15px;
  }
  .hero-description__content {
    margin: 10px 0px;
    padding: 5px 0px;
  }
  .hero-desc__table-title {
    letter-spacing: 2px;
    margin-top: 4px;
  }
  .hero-desc__table {
    width: 90vw;
    font-size: small;
  }
  .hero-desc__table-row-name {
    width: 30%;
    padding: 5px 0px;
  }
  .hero-description__additions-title {
    margin: 10px 0px;
  }
  .hero-description__additions-list-item {
    margin-right: 5px;
    height: 50px;
    border-radius: 10px;
  }

  .scene-exit {
    font-size: 30px; 
    right: 15vw;
    top: 30px;
  }


  /* NAVIGATION MENU */
  .scene-nav {
    width: 100%;
  }
  .scene-nav__wrapper {
    padding: 5px 20px;
  }
  .scene-nav__button-prev, .scene-nav__button-next {
    border: 3px #fff solid;
    padding: 7px;
    margin: 0px 5px;
  }
  .scene-nav__button-icon {
    width: 30px;
    height: 30px;
  }
  .scene-nav__description {
    width: 55%;
    margin-left: 10px;
    color: #fff;
    padding: 5px 0px;
  }
  .scene-nav__description-title {
    font-weight: bold;
    font-size: medium;
    margin-bottom: 5px;
  }
  .scene-nav__description-text {
    font-size: 12px;
  }
}