@media (max-width: 1441px) {
  /* HEADER */
  .header__inner {
    padding: 15px 20px;
  }
  .header__logo {
    font-size: 30px;
  }
  .user-profile__icon {
    width: 25px;
    height: 25px;
  }


  /* SCENE */
  .scene__title {
    font-size: 52px;
    margin-top: 100px;
  }
  .scene__title::after {
    margin-top: 15px;
  }

  /* carousel */
  .scene-carousel__wrapper {
    padding: 0px 0px;
  }
  .scene-hero {
    --scene-slide-image-height: 200px;  
  }
  .scene-hero .scene-hero__image {
    height: 200px;
  }
  .hero-description__name {
    font-size: 52px;
    margin-top: 20px;
  }
  .hero-description__content {
    margin: 15px 0px;
    padding: 10px 0px;
  }
  .hero-desc__table-title {
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .hero-desc__table {
    width: 40vw;
    font-size: medium;
  }
  .hero-desc__table-row-name {
    width: 40%;
    padding: 5px 0px;
  }  
  .hero-description__additions-title {
    margin: 20px 0px;
  }
  .hero-description__additions-list-item {
    height: 100px;
  }

  /* navigation menu */
  .scene-nav__wrapper {
    padding: 20px 40px;
  }
  .scene-nav__button-prev, .scene-nav__button-next {
    padding: 10px;
  }
  .scene-nav__button-icon {
    transform: scale(1.2);
  }

}